* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1200px;
}

.container {
  display: flex;
  justify-content: center;
  /*border: 1px solid red; */
}

.example {
  display: flex;
  justify-content: space-around;
  /*border: 1px solid purple; */

  width: 800px;
  margin: 50px 0;
  background-color: #D6E9FE;
}

.item img {
  display: block;
}

.item-relative {
  position: relative; /* relative positioning lets you change position of item, without affecting other items around it */
  bottom: 30px;
  right: 30px;
}

.item-absolute {
  position: absolute;
  top: 10px;
  left: 10px;
}

.absolute {
  position: relative;
}

.item-fixed {
  position: fixed; /* Only difference to absolute: Doesnt change position when scrolling */
  bottom: 0;
  right: 0;
}
